body {
    background: #FAF8F0;
}

.container {
    position: relative; 
    width: 600px;
    margin: 0 auto;
}

.header {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header #menu_container {
    background-color: #B9ADA1;
    width: 75px;
    height: 40px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}

h1 {
    font-size: 40px;
    color: #7E7367;
}


#table {
    border-collapse: collapse;
}

#table td{
    border: 5px solid black;
    width: 150px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
